.about-wrapper {
    position: relative;
}

.about-wrapper h2 {text-transform:capitalize;margin:20px 0;font-family: 'Tajawal Medium';}

.about-wrapper img {
    max-width: 100%;
    margin-bottom: 20px;
    width: 100%;
}



.about-wrapper .about-box {
    font-size: 18px;
    color: #707070;
    line-height: 30px;
}