// Services Contents
.services-header-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px dashed #b6b6b6; 
  padding-bottom: 20px;
  @media (max-width: $lg) {
    flex-direction: column;
    gap: 20px;
  }
  .main-title h2 {
    font-family: "Tajawal Bold";
    margin-bottom: 0;
    color: #404040;
    @media (max-width: $lg) {
        text-align: center;
      }

  }

  .main-title p {
    color: #707070;
    font-size: 16px;
    font-family: "Tajawal Medium";
    margin-bottom: 10px;
  }


  .search-services {
    position: relative;
    flex: 0 0 auto;
    width: 40%;
    @media (max-width: $lg) {
      width: 40%;
    }
    input {
      border: 1px solid #d5d9dd;
      background: #fafbfc;
    }
    button {
      position: absolute;
      top: 5px;
      inset-inline-end: 5px;
      outline: none;
      border: 0;
      background: transparent;
      img{
        width: 24px;
        height: 24px;
        margin: 0 5px;
      }
    }
  }
  .form-select{
    width: 60%;
  }
  .action-filter {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 40%;
    @media (max-width: $lg) {
      width: 100%;
    }
    .view-btn {
      border: 1px solid #d5d9dd;
      height: 38px;
      border-radius: 5px;
      display: block;
      width: 65px;
      background: #fff;
      svg {
        width: 18px;
        height: 18px;
        path {
          fill: #9295ab;
        }
      }
      &.active {
        background: #004a98;
        border: 1px solid #004a98;
        svg {
          path {
            fill: #fff;
          }
        }
      }
    }
  }
}

// Services Card View
.card-view {
  display: flex;
  align-items: center;
  gap: 20px 2%;
  flex-wrap: wrap;
  margin: 20px 0;
  .service-card {
    width: 18.4%;
    position: relative;
    border-radius: 15px;
    border: 1px solid rgba(0, 73, 160, 0.1);
    background: $white;
    box-shadow: 0px 0px 20px 0px rgba(56, 71, 109, 0.06);
    transition: all 0.3s linear;
    z-index: 0;
    overflow: hidden;
    @media (max-width: $lg) {
      width: 49%;
    }
    @media (max-width: $md) {
      width: 100%;
    }
 
    .favorite-item {
      position: absolute;
      top: 15px;
      inset-inline-end: 15px;
      font-size: 21px;
      color: #004a98;
      cursor: pointer;
    }
    .card-body {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      padding: 20px;
      img {
        width: 64px;
        height: 64px;
        margin-bottom: 10px;
      }
      a {
        font-size: 20px;
        color: #071437;
        font-family: $font-medium;
        margin: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 1.2em;
        height: 48px;
      }

      span {
        color: #707070;
        font-size: 16px;
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top right, #29a2ac, #12509e);
      transition: opacity 0.3s ease-in-out;
      opacity: 0;
      z-index: -1;
      display: block;
    }
    &:hover {
      &:before {
        opacity: 1;
      }

      a {
        color: #fff;
      }
      img{
        filter: brightness(0) invert(1);
      }
      span {
        color: #ccc;
      }
    }
  }
}

// Services List View
.list-view {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  .service-card {
    width: 100%;
    background: #fff;
    position: relative;
    padding: 20px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    .favorite-item {
      position: absolute;
      top: 15px;
      inset-inline-end: 15px;
      font-size: 21px;
      color: #004a98;
      cursor: pointer;
    }
    .card-body {
      display: flex;
      align-items: center;
      img {
        width: 64px;
        height: 64px;
      }
      .card-text {
        padding: 0 10px;
        a {
          font-size: 20px;
          color: #071437;
          font-family: $font-medium;
          margin: 5px;
          display: block;
        }

        span {
          color: #707070;
          font-size: 16px;
        }
      }
    }
    &:hover {
      background: #28a5ad !important;
      a {
        color: #fff !important;
      }
      span {
        color: #ccc !important;
      }
    }
  }
}

//show More
.show-more {
  margin: 60px 0;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 50px auto;
  &:after {
    content: "";
    width: 40%;
    display: block;
    position: absolute;
    z-index: 0;
    margin: auto;
    left: 0;
    right: 0;
    border: 1px dashed #ccc;
  }
  button {
    border: 0;
    background: #004a98;
    color: #fff;
    padding: 12px 30px;
    border-radius: 50px;
    font-family: $font-medium;
    font-size: 18px;
    position: relative;
    z-index: 1;

    &:hover {
      background: #28a5ad;
    }
  }
}
